@model IEnumerable<LaurenIp.Models.Simula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorProjeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiscoEnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participantes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiscoEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participantes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdCodigo }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdCodigo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdCodigo })
            </td>
        </tr>
    }

</table>
<div id="modal" class="modal fade" role="dialog" />

